body {
    background-color: rgb(1, 186, 237);
}
.choice {
    height: fit-content;
    width: fit-content;
    padding-left: 3dvw;
    padding-right: 3dvw;
    padding-top: 4dvh;
    padding-bottom: 4dvh;
    background-color: rgb(98, 174, 255);
    position: fixed;
    border: 2px rgb(53, 137, 253) solid;
    text-decoration: none;
    color: blue;
    font-size: 2dvw;
    top: 40dvh;
}
.choice:hover{
    background-color: rgb(73, 160, 253);
}

#choice1 {
    left: 30dvw;

}
#choice2 {
    left: 50dvw;
}
#choice3 {
    top: 60dvh;
    left: 40dvw;
}